servers:
  - url: https://beaconproplus.com/v2/rest/com/becn
    description: >-
      Production. Added by API Evangelist; the harvested document carried no servers[].
      Source: info.description of this spec: '[ PROD BASE URL: https://beaconproplus.com/v2/rest/com/becn ]'
openapi: 3.0.0
info:
  title: Beacon Rest Services Ver 2 (OAuth)
  version: 24PI-4-Sprint-3
  description: |
    This version uses OAuth authorization method to access API services.
    A bearer token is required to be authorized to access the services.

    [ PROD BASE URL: *https://beaconproplus.com/v2/rest/com/becn* ]

    [ UAT  BASE URL: *https://beacon-uat.becn.com/v2/rest/com/becn* ]

    [ DEV  BASE URL: *https://beacon-dev.becn.com/v2/rest/com/becn* ]

    ### API Site ID:
    <details>
      <summary>Show...</summary>
      Most of the APIs supports the `apiSiteId` parameter in the following locations, the parsing priority is higher to lower. For example, if this parameter appears both in request parameter and request body, will get the one in the request parameter, any other locations will be ignored.
      1. `apiSiteId` in Request Parameter/URL/Query String e.g.
          ```
          example.com/?apiSiteId=XYZ...
          example.com/?...&apiSiteId=XYZ...
          ```
      2. `apiSiteId` in Request Body/Payload e.g.

          ```
          {
            ...
            "apiSiteId": "XYZ",
            ...
          }
          ```

          Please be noted, only support when `apiSiteId` is the root element of request body. For example, the `apiSiteId` in the following request body is the second element, so this property will be ignored:
          ```
          {
            ...
            "foo": {
              "apiSiteId": "XYZ",
            }
            ...
          }
          ```
      3. `apiSiteId` related OAuth Token in Request Header e.g.
          ```
          Authorization Bearer atdy9au5qtg0ofkxdewwr3169...
          ```
          In this case, the `apiSiteId` will be parsed via the OAuth Token. For example, if one token is generated by the client id 'nigu0zjtyih7lb36l2...', then this client related api site id(pre-defined and stored in the server database) will be the value of `apiSiteId`
    </details>
    ### API Uniform Format:
    <details>
      <summary>Show...</summary>
      ### Response:
      ```
      {
          "success":true,
          "messages":[
              {
                  "key":null,
                  "code":null,
                  "type":"success",
                  "value":""
              }
          ],
          "result": <the response example value of each API>
      }
      ```
      ### Explanation:
      If the response example value of one endpoint `/foo` is:
      ```
      {
          "name":"bar",
          "age":123
      }
      ```

      Then the actual response value of this endpoint is: (replace the value of "result" element in `API Uniform Format` with example response)
      ```
      {
          "success":true,
          "messages":[
              {
                  "code":null,
                  "type":"success",
                  "value":""
              }
          ],
          "result":{
              "name":"bar",
              "age":123
          }
      }
      ```
    </details>
    ### Below V2 APIs follow original format
    <details>
      <summary>Show...</summary>
      * `/quote`
      * `/getQuoteDetail`
      * `/getCurrentUserInfo`
      * `/getAddressBook`
      * `/createAddressBook`
      * `/updateAddressBook`
      * `/deleteAddressBook`
      * `/changePassword`
      * `/forgotPassword`
      * `/getPerfectOrderDetail`
      * `/getStatusChange`
      * `/updateStatusChange`
      * `/itemlist`
      * `/itemDetails`
      * `/addPerfectOrderToTemplate`
      * `/deleteQuote`
      * `/createQuote`
      * `/submitQuote`
      * `/getOrderShippingInfo`
      * `/addOrderShippingInfo`
      * `/suggestiveSelling`
      * `/getCurrentOrderReview`
      * `/submitCurrentOrder`
      * `/getPerfectStyleGroups`
      * `/validateOrderByLocation`
      * `/submitOrder`
      * `/submitDelegatedQuote`

      ### Explanation:
      If the response example value of one endpoint `/fooLegacy` is:
      ```
      {
          "name":"barLegacy",
          "age":456
      }
      ```

      Then the actual response value of this endpoint is: (the same as the response example)
      ```
      {
          "name":"barLegacy",
          "age":456
      }
      ```
    </details>
    ### API Response Message Code
    <details>
      <summary>Show...</summary>
      <table id="API_Response_Message_Code" border="1">
        <tbody>
          <tr>
              <th colspan="1" align="center" width="20%"><p><span>Code Group</span></p></th>
              <th align="center" width="10%"><p><span>Code</span></p></th>
              <th align="left" width="40%"><p><span>Comments</span></p></th>
          </tr>
          <tr>
              <td rowspan="8" align="left" width="20%">1XXX: <br>common request param error</td>
              <td align="center" width="10%">1001</td>
              <td align="left" width="40%">Param is required.</td>
          </tr>
          <tr>
              <td align="center" width="10%">1002</td>
              <td align="left" width="40%">Repository item not found via request</td>
          </tr>
          <tr>
              <td align="center" width="10%">1003</td>
              <td align="left" width="40%">Param max length is invalid.</td>
          </tr>
          <tr>
              <td align="center" width="10%">1004</td>
              <td align="left" width="40%">Param min length is invalid.</td>
          </tr>
          <tr>
              <td align="center" width="10%">1005</td>
              <td align="left" width="40%">Param regular expression is invalid.</td>
          </tr>
          <tr>
              <td align="center" width="10%">1006</td>
              <td align="left" width="40%">Request param requestBody is not a valid</td>
          </tr>
          <tr>
              <td align="center" width="10%">1007</td>
              <td align="left" width="40%">Request param caused validation exception</td>
          </tr>
          <tr>
              <td align="center" width="10%">1008</td>
              <td align="left" width="40%">Request param caused form error</td>
          </tr>
          <tr>
              <td rowspan="6" align="left" width="20%">2XXX: <br>current profile error</td>
              <td align="center" width="10%">2001</td>
              <td align="left" width="40%">Current profile in request is empty</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">2002</td>
              <td colspan="1" align="left" width="40%">Current profile type/instance in request is empty</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">2003</td>
              <td colspan="1" align="left" width="40%">Current profile in request do not have available accounts</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">2004</td>
              <td colspan="1" align="left" width="40%">Current profile is unauthorized</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">2005</td>
              <td colspan="1" align="left" width="40%">Current profile is already authorized</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">2006</td>
              <td colspan="1" align="left" width="40%">Current profile is permission denied</td>
          </tr>
          <tr>
              <td rowspan="8" align="left" width="20%">3XXX: <br>specified request param error</td>
              <td colspan="1" align="center" width="10%">3001</td>
              <td colspan="1" align="left" width="40%">Request param account id is not available/not belong to current profile</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">3002</td>
              <td colspan="1" align="left" width="40%">Request param product id is not available to current region of current profile</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">3003</td>
              <td colspan="1" align="left" width="40%">Request param profile id is not equal to current profile</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">3004</td>
              <td colspan="1" align="left" width="40%">Request param profile id is not found</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">3005</td>
              <td colspan="1" align="left" width="40%">Request param site id is not equal to current site</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">3006</td>
              <td colspan="1" align="left" width="40%">Request param sku id is not available to current region of current profile</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">3007</td>
              <td colspan="1" align="left" width="40%">Request param shipping is invalid to current region of current profile</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">3008</td>
              <td colspan="1" align="left" width="40%">Device tokens not found</td>
          </tr>
          <tr>
              <td rowspan="6" align="left" width="20%">4XXX: <br>system level common error</td>
              <td colspan="1" align="center" width="10%">4001</td>
              <td colspan="1" align="left" width="40%">System error</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">4002</td>
              <td colspan="1" align="left" width="40%">Mincron error</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">4003</td>
              <td colspan="1" align="left" width="40%">ATG Order version invalid error</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">4004</td>
              <td colspan="1" align="left" width="40%">Delivery Tracking Error</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">4005</td>
              <td colspan="1" align="left" width="40%">Delete Device Token Error</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">4008</td>
              <td colspan="1" align="left" width="40%">Integration Time Out</td>
          </tr>
          <tr>
              <td rowspan="12" align="left" width="20%">5XXX: <br>specified response error</td>
              <td colspan="1" align="center" width="10%">5001</td>
              <td colspan="1" align="left" width="40%">Submit order failed response</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5002</td>
              <td colspan="1" align="left" width="40%">Submit order failed with integration exception message returned</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5003</td>
              <td colspan="1" align="left" width="40%">Query order detail not match with current</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5004</td>
              <td colspan="1" align="left" width="40%">No result is returned to order history</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5005</td>
              <td colspan="1" align="left" width="40%">Template name invalid</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5006</td>
              <td colspan="1" align="left" width="40%">Need change account</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5007</td>
              <td colspan="1" align="left" width="40%">Account no longer available for current user</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5008</td>
              <td colspan="1" align="left" width="40%">Illegal data</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5009</td>
              <td colspan="1" align="left" width="40%">Account token invalid</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5010</td>
              <td colspan="1" align="left" width="40%">No current Order</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5011</td>
              <td colspan="1" align="left" width="40%">Quote order account not match</td>
          </tr>
          <tr>
              <td colspan="1" align="center" width="10%">5301</td>
              <td colspan="1" align="left" width="40%">BillTrust error</td>
          </tr>
          </tbody>
      </table>
    </details>
components:
  schemas:
    rebateLanding_rep:
      $ref: '#/components/schemas/RebateItemObj'
    getRebateRedeemedSummaryItems_rep:
      type: array
      items:
        $ref: '#/components/schemas/RedeemSummeryDTOObj'
    getRebateRedeemedItemDetail_req:
      type: object
      properties:
        rebateId:
          type: string
        searchKey:
          type: string
        searchValue:
          type: string
        searchStartDate:
          type: string
        searchEndDate:
          type: string
        pageNum:
          type: string
        pageSize:
          type: string
    getRebateRedeemedItemDetail_rep:
      $ref: '#/components/schemas/RedeemDetailsDTOObj'
    downloadRebateRedeemedItemDetail_req:
      type: object
      properties:
        redeemedRebateIds:
          type: string
        rebateId:
          type: string
        accountId:
          type: string
    downloadRebateRedeemedDetailAsPDF_req:
      type: object
      properties:
        redeemedRebateIds:
          type: string
        rebateId:
          type: string
        submitRebateInfoId:
          type: string
    getRebateFrom_rep:
      $ref: '#/components/schemas/RebateFromObj'
    submitRebate_req:
      type: object
      properties:
        rebateId:
          type: string
        rebateInfo:
          type: object
          properties:
            companyName:
              type: string
            contactName:
              type: string
            phoneNumber:
              type: string
            email:
              type: string
        rebateAddress:
          type: object
          properties:
            address:
              type: string
            city:
              type: string
            state:
              type: string
            zip:
              type: string
        rebateCustomInfo:
          type: object
        rebateMailingAddress:
          type: object
    RebateItemObj:
      type: object
      properties:
        image:
          type: string
        rebateName:
          type: string
        action:
          type: string
        rebateId:
          type: string
        brandName:
          type: string
        ableUpdate:
          type: boolean
        submittedRebateInfoId:
          type: string
        lastSubmittedDate:
          type: string
        startDate:
          type: string
          format: MM-dd-yyyy
          example: 01-17-2018
        endDate:
          type: string
          format: MM-dd-yyyy
          example: 01-17-2018
        deactivationDate:
          type: string
          format: MM-dd-yyyy
          example: 01-17-2018
    RedeemSummeryDTOObj:
      type: object
      properties:
        promotionDates:
          type: string
          example: 'May 5,2017-May 8,2019'
        accountId:
          type: string
        submitDate:
          type: string
          format: MM-dd-yyyy
          example: 01-17-2018
        id:
          type: string
        brand:
          type: string
        rebateId:
          type: string
        PDFUrl:
          type: string
        currencyUnit:
          type: string
        promotion:
          type: string
        projectedRebate:
          type: string
    RedeemDetailsDTOObj:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/BCPaginationDataObj'
        header:
          $ref: '#/components/schemas/RedeemSummeryDTOObj'
        body:
          type: array
          items:
            $ref: '#/components/schemas/RedeemDetailDTOObj'
    RedeemDetailDTOObj:
      type: object
      properties:
        orderNumber:
          type: string
        itemStockUnitOfMeasure:
          type: string
        invoiceDate:
          type: string
          format: MM-dd-yyyy
          example: 01-17-2018
        showSalesAmountAsPrice:
          type: boolean
        customerName:
          type: string
        projectedRebate:
          type: string
        promotionDates:
          type: string
          example: 'May 5,2017-May 8,2019'
        accountId:
          type: string
        quantityShipped:
          type: string
        salesAmount:
          type: string
        id:
          type: string
        itemNumber:
          type: string
        itemDescription:
          type: string
        category:
          type: string
        projectedPromotionRebate:
          type: string
        rebateId:
          type: string
        currencyUnit:
          type: string
        promotion:
          type: string
    RebateFromObj:
      type: object
      properties:
        rebateId:
          type: string
        rebateName:
          type: string
        ableSubmit:
          type: boolean
        rows:
          type: array
          items:
            $ref: '#/components/schemas/RebateFromInputDTOObj'
    RebateFromInputDTOObj:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        placeHolder:
          type: string
        value:
          type: string
        required:
          type: boolean
        type:
          type: string
        infoGroup:
          type: string
        maxLength:
          type: integer
        minLength:
          type: integer
        email:
          type: boolean
        phone:
          type: boolean
        zip:
          type: boolean
        numeric:
          type: boolean
        pattern:
          type: string
        css:
          type: string
        invalidMsg:
          type: string
        selectValues:
          type: array
          items:
            $ref: '#/components/schemas/RebateFromSelectOptionDTOObj'
        isRadioSelected:
          type: boolean
    RebateFromSelectOptionDTOObj:
      type: object
      properties:
        displayName:
          type: string
        value:
          type: string
    getOrderApprovalList_req:
      type: object
      properties:
        approverId:
          type: string
        currentPage:
          type: integer
        pageSize:
          type: integer
        searchBy:
          type: string
        searchTerm:
          type: string
        sortBy:
          type: string
        sortType:
          type: string
        status:
          type: string
    getOrderApprovalList_rep:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/BCPaginationDataObj'
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderSimpleItemObj'
    OrderSimpleItemObj:
      type: object
      properties:
        id:
          type: string
        mincronId:
          type: string
        displayName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        accountNumber:
          type: string
        accountName:
          type: string
        creationDate:
          type: string
          format: timestamp
        createdUser:
          type: string
        createdUserEmail:
          type: string
        submittedDate:
          type: string
          format: timestamp
        status:
          type: string
        statusDisplayName:
          type: string
        readOnly:
          type: boolean
    getOrderApprovalDetail_rep:
      $ref: '#/components/schemas/SavedPendingOrderApprovalDetailItemV2Obj'
    SavedPendingOrderApprovalDetailItemV2Obj:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        siteId:
          type: string
        organizationId:
          type: string
        accountNumber:
          type: string
        contactInfo:
          $ref: '#/components/schemas/ContactInfo_savedorder'
        creationDate:
          type: string
          format: timestamp
        createdUser:
          type: string
        submittedDate:
          type: string
          format: timestamp
        lastModifiedDate:
          type: string
          format: timestamp
        lastModifiedUser:
          type: string
        evOrderId:
          type: string
        assignApproval:
          $ref: '#/components/schemas/UserInfo_savedorder'
        assignApprovalDisplayText:
          type: string
        deleteStatus:
          type: boolean
          default: false
        job:
          $ref: '#/components/schemas/Job_savedorder'
        jobAccounts:
          $ref: '#/components/schemas/JobAccounts_savedorder'
        approvedBy:
          type: string
        po:
          type: string
        additionalEmailRecipient:
          type: array
          items:
            type: string
        deliveryOption:
          type: string
        deliveryOptions:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        deliveryDate:
          type: string
        deliveryTime:
          type: string
        deliveryTimes:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        shippingMethod:
          type: string
        shippingMethodValue:
          type: string
        shippingMethods:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        shippingAddressTitle:
          type: string
        shippingAddress:
          type: object
          properties:
            address1:
              type: string
            address2:
              type: string
            address3:
              type: string
            city:
              type: string
            state:
              type: string
            states:
              type: array
              items:
                $ref: '#/components/schemas/RadioButton_savedorder'
            postalCode:
              type: string
            country:
              type: string
        branchName:
          type: string
        branchAddress:
          type: object
          properties:
            displayName:
              type: string
            address1:
              type: string
            address2:
              type: string
            address3:
              type: string
            city:
              type: string
            state:
              type: string
            stateValue:
              type: string
            postalCode:
              type: string
            country:
              type: string
            phoneNumber:
              type: string
        instructions:
          type: string
        commerceItems:
          type: array
          items:
            $ref: '#/components/schemas/CommerceItem_savedorder'
        status:
          type: string
        statusDisplayName:
          type: string
        mincronId:
          type: string
        itemsTotal:
          type: number
          format: double
        taxes:
          type: number
          format: double
        otherCharges:
          type: number
          format: double
        subTotal:
          type: number
          format: double
        addressBooks:
          type: array
          items:
            $ref: '#/components/schemas/AddressBook_savedorder'
        addressBook:
          $ref: '#/components/schemas/AddressBook_savedorder'
        storeLocatorItemId:
          type: string
        rejectReason:
          type: string
        rejectUserDisplayText:
          type: string
        rejectUser:
          $ref: '#/components/schemas/UserInfo_savedorder'
        showDeliveryNotification:
          type: boolean
        MFG:
          type: string
        color:
          type: string
        orderRelatedDocuments:
          items:
            type: string
    rejectSavedOrder_req:
      type: object
      properties:
        rejectReason:
          type: string
        orders:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
    deleteSavedOrder_req:
      type: object
      properties:
        id:
          type: string
    updateSavedOrderItems_req:
      type: object
      properties:
        savedOrderId:
          type: string
        savedOrderName:
          type: string
        action:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              quantity:
                type: integer
              itemNumber:
                type: string
              uom:
                type: string
              color:
                type: string
                example: Dark Blue(012)
              MFG:
                type: string
                example: Light Yellow
    updateSavedOrderItems_rep:
      type: object
      properties:
        savedOrderId:
          type: string
        savedOrderName:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/CommerceItem_savedorder'
    CommerceItem_savedorder:
      type: object
      properties:
        id:
          type: string
        imageUrl:
          type: string
        imageOnErrorUrl:
          type: string
        thumbImageUrl:
          type: string
        pdpUrl:
          type: string
        description:
          type: string
        itemNumber:
          type: string
        price:
          type: integer
          format: double
        quantity:
          type: integer
        uom:
          type: string
        subTotal:
          type: integer
          format: double
        deleteStatus:
          type: boolean
        vendorColorId:
          type: string
        productId:
          type: string
        itemGrayOutLevel:
          type: string
          enum:
            - none
            - grayWithChange
            - gray
        itemFromQuote:
          type: boolean
        quotedItemQtyChanged:
          type: boolean
    getSavedOrderShippingInfo_req:
      type: object
      properties:
        orderId:
          type: string
    getSavedOrderShippingInfo_rep:
      $ref: '#/components/schemas/OrderDetailItemObj'
    OrderDetailItemObj:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        siteId:
          type: string
        organizationId:
          type: string
        accountNumber:
          type: string
        contactInfo:
          $ref: '#/components/schemas/ContactInfo_savedorder'
        creationDate:
          type: string
          format: timestamp
        createdUser:
          type: string
        submittedDate:
          type: string
          format: timestamp
        lastModifiedDate:
          type: string
          format: timestamp
        lastModifiedUser:
          type: string
        evOrderId:
          type: string
        assignApproval:
          $ref: '#/components/schemas/UserInfo_savedorder'
        assignApprovalDisplayText:
          type: string
        deleteStatus:
          type: boolean
          default: false
        job:
          $ref: '#/components/schemas/Job_savedorder'
        jobAccounts:
          $ref: '#/components/schemas/JobAccounts_savedorder'
        approvedBy:
          type: string
        po:
          type: string
        emailAddress:
          type: array
          items:
            type: string
        deliveryOption:
          type: string
        deliveryOptions:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        deliveryDate:
          type: string
        deliveryTime:
          type: string
        deliveryTimes:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        shippingMethod:
          type: string
        shippingMethodValue:
          type: string
        shippingMethods:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        shippingAddressTitle:
          type: string
        shippingAddress:
          type: object
          properties:
            address1:
              type: string
            address2:
              type: string
            address3:
              type: string
            city:
              type: string
            state:
              type: string
            states:
              type: array
              items:
                $ref: '#/components/schemas/RadioButton_savedorder'
            postalCode:
              type: string
            country:
              type: string
        branchName:
          type: string
        branchAddress:
          type: object
          properties:
            displayName:
              type: string
            address1:
              type: string
            address2:
              type: string
            address3:
              type: string
            city:
              type: string
            state:
              type: string
            stateValue:
              type: string
            postalCode:
              type: string
            country:
              type: string
            phoneNumber:
              type: string
        instructions:
          type: string
        commerceItems:
          type: array
          items:
            $ref: '#/components/schemas/CommerceItem_savedorder'
        status:
          type: string
        statusDisplayName:
          type: string
        mincronId:
          type: string
        itemsTotal:
          type: number
          format: double
        taxes:
          type: number
          format: double
        otherCharges:
          type: number
          format: double
        subTotal:
          type: number
          format: double
        addressBooks:
          type: array
          items:
            $ref: '#/components/schemas/AddressBook_savedorder'
        addressBook:
          $ref: '#/components/schemas/AddressBook_savedorder'
        storeLocatorItemId:
          type: string
        rejectReason:
          type: string
        rejectUserDisplayText:
          type: string
        rejectUser:
          $ref: '#/components/schemas/UserInfo_savedorder'
        requiredFields:
          $ref: '#/components/schemas/RequiredFields_savedorder'
        showDeliveryNotification:
          type: boolean
        accountBranchState:
          type: string
    updateSavedOrderShippingInfo_req:
      type: object
      properties:
        orderId:
          type: string
        deliveryOption:
          type: string
        deliveryDate:
          type: string
          format: MM-dd-yyyy
        deliveryTime:
          type: string
        shippingMethod:
          type: string
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress_savedorder_req'
        branchName:
          type: string
        contactInfo:
          $ref: '#/components/schemas/ContactInfo_savedorder'
        instructions:
          type: string
    getSavedOrderReviewInfo_req:
      type: object
      properties:
        orderId:
          type: string
    getSavedOrderReviewInfo_rep:
      $ref: '#/components/schemas/OrderDetailItemObj'
    updateSavedOrderReviewInfo_req:
      type: object
      properties:
        orderId:
          type: string
        po:
          type: string
        jobName:
          type: string
        jobNumber:
          type: string
        additionalRecipients:
          type: array
          items:
            type: string
    submitSavedOrder_res:
      type: object
      properties:
        savedOrderId:
          type: string
        evOrderId:
          type: string
    submitSavedOrder_req:
      type: object
      properties:
        orderId:
          type: string
        approverId:
          type: string
        po:
          type: string
        jobName:
          type: string
        jobNumber:
          type: string
        additionalRecipients:
          type: array
          items:
            type: string
    approveSavedOrder_req:
      type: object
      properties:
        apiSiteId:
          type: string
        orderId:
          type: string
        po:
          type: string
        jobName:
          type: string
        jobNumber:
          type: string
        uuid:
          type: string
        UUID:
          type: string
        additionalRecipients:
          type: array
          items:
            type: string
    getSavedOrderConfirmationInfo_req:
      type: object
      properties:
        id:
          type: string
    getSavedOrderConfirmationInfo_rep:
      $ref: '#/components/schemas/SavedOrderConfirmationDetailObj'
    approver_rep:
      type: array
      items:
        $ref: '#/components/schemas/ApproverObj'
    ApproverObj:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
    SavedOrderConfirmationDetailObj:
      type: object
      properties:
        id:
          type: string
        mincronId:
          type: string
        displayName:
          type: string
        accountNumber:
          type: string
        accountName:
          type: string
        accountNameOriginal:
          type: string
        creationDate:
          type: string
        createdUser:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        createdUserEmail:
          type: string
        submittedDate:
          type: string
        status:
          type: string
        statusDisplayName:
          type: string
        readOnly:
          type: boolean
        siteId:
          type: string
        organizationId:
          type: string
        contactInfo:
          $ref: '#/components/schemas/ContactInfo_savedorder'
        lastModifiedDate:
          type: string
        lastModifiedUser:
          type: string
        deleteStatus:
          type: boolean
        job:
          $ref: '#/components/schemas/Job_savedorder'
        jobAccounts:
          $ref: '#/components/schemas/JobAccounts_savedorder'
        shippingMethod:
          type: string
        shippingMethodValue:
          type: string
        shippingMethods:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress_savedorder'
        shippingAddressTitle:
          type: string
        branchName:
          type: string
        branchAddress:
          $ref: '#/components/schemas/BranchAddress_savedorder'
        instructions:
          type: string
        commerceItems:
          type: array
          items:
            $ref: '#/components/schemas/CommerceItem_savedorder'
        requiredFields:
          $ref: '#/components/schemas/RequiredFields_savedorder'
        approvedBy:
          type: string
        po:
          type: string
        emailAddress:
          type: array
          items:
            type: string
        deliveryOption:
          type: string
        deliveryOptionValue:
          type: string
        deliveryOptions:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        deliveryDate:
          type: string
        deliveryTime:
          type: string
        deliveryTimes:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        itemsTotal:
          type: number
          format: double
        taxes:
          type: number
          format: double
        otherCharges:
          type: number
          format: double
        subTotal:
          type: integer
          format: double
        addressBooks:
          type: array
          items:
            $ref: '#/components/schemas/AddressBook_savedorder'
        addressBook:
          $ref: '#/components/schemas/AddressBook_savedorder'
        storeLocatorItemId:
          type: string
        rejectReason:
          type: string
        assignApprovalDisplayText:
          type: string
        assignApproval:
          $ref: '#/components/schemas/UserInfo_savedorder'
        rejectUserDisplayText:
          type: string
        rejectUser:
          $ref: '#/components/schemas/UserInfo_savedorder'
        showDeliveryNotification:
          type: boolean
        accountBranchState:
          type: string
        displaySubTotalMsg:
          type: boolean
        subTotalMsg:
          type: string
        thankYouMsg:
          type: string
    submitQuoteOrderForApproval_req:
      type: object
      required:
        - orderId
        - savedOrderName
        - approverId
      properties:
        orderId:
          type: string
          description: Quote Order Id
        savedOrderName:
          type: string
        approverId:
          type: string
        poName:
          type: string
        jobName:
          type: string
        jobNumber:
          type: string
        additionalRecipients:
          type: array
          items:
            type: string
    submitQuoteOrderForApproval_resp:
      type: object
      properties:
        savedOrderId:
          type: string
    ContactInfo_savedorder:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        nickName:
          type: string
        phoneNumber:
          type: string
    Job_savedorder:
      type: object
      properties:
        jobNumber:
          type: string
        jobName:
          type: string
        jobNameMandatory:
          type: boolean
        jobNumberMandatory:
          type: boolean
        jobNumberDisplayName:
          type: string
    JobAccounts_savedorder:
      type: object
      properties:
        unavailable:
          type: boolean
        unavailableMsg:
          type: boolean
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job_savedorder'
    RadioButton_savedorder:
      type: object
      properties:
        displayName:
          type: string
        value:
          type: string
        selected:
          type: boolean
    ShippingAddress_savedorder:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        country:
          type: string
        city:
          type: string
        state:
          type: string
        states:
          type: array
          items:
            $ref: '#/components/schemas/RadioButton_savedorder'
        postalCode:
          type: string
    ShippingAddress_savedorder_req:
      type: object
      properties:
        displayName:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
    BranchAddress_savedorder:
      type: object
      properties:
        displayName:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        country:
          type: string
        city:
          type: string
        state:
          type: string
        stateValue:
          type: string
        postalCode:
          type: string
        phoneNumber:
          type: string
        branchNumber:
          type: string
    RequiredFields_savedorder:
      type: object
      properties:
        deliveryOption:
          type: boolean
        deliveryDate:
          type: boolean
        deliveryTime:
          type: boolean
        shippingMethod:
          type: boolean
        shippingAddress:
          type: boolean
        postalCode:
          type: boolean
        state:
          type: boolean
        address1:
          type: boolean
        address2:
          type: boolean
        address3:
          type: boolean
        country:
          type: boolean
        city:
          type: boolean
        branchName:
          type: boolean
        contactInfo:
          type: boolean
        firstName:
          type: boolean
        lastName:
          type: boolean
        nickName:
          type: boolean
        phoneNumber:
          type: boolean
        instructions:
          type: boolean
        po:
          type: boolean
        jobName:
          type: boolean
        jobAccounts:
          type: boolean
        showExtendedPO:
          type: boolean
    AddressBook_savedorder:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress_savedorder'
        contactInfo:
          $ref: '#/components/schemas/ContactInfo_savedorder'
    UserInfo_savedorder:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
    permissionTemplateList_req:
      type: object
      properties:
        sortBy:
          type: string
        sortType:
          type: string
        pageIndex:
          type: integer
        pageSize:
          type: integer
    permissionTemplateList_rep:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/BCPaginationDataObj'
        permssionTemplate:
          type: array
          items:
            $ref: '#/components/schemas/BCPermissionTemplateObj'
    getPermissionTemplateDetail_rep:
      $ref: '#/components/schemas/BCPermissionTemplateObj_getPermissionTemplateDetail'
    createPermissionTemplate_req:
      type: object
      properties:
        name:
          type: string
        permissionValues:
          type: string
          additionalProperties:
            type: boolean
          example:
            '100001': true
            '100002': true
            '100003': false
    createPermissionTemplate_rep:
      type: object
      properties:
        templateId:
          type: string
    updatePermissionTemplate_req:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        permissionValues:
          type: string
          additionalProperties:
            type: boolean
          example:
            '100001': true
            '100002': true
            '100003': false
    deletePermissionTemplate_req:
      type: object
      properties:
        templateId:
          type: string
    validateTemplateItems_req:
      type: object
      properties:
        templateId:
          type: string
        templateItems:
          type: array
          items:
            type: object
            properties:
              templateItemId:
                type: string
    validateTemplateItems_rep:
      type: object
      properties:
        invalidTemplateItems:
          type: array
          items:
            type: object
            properties:
              templateItemId:
                type: string
    user_req:
      type: object
      properties:
        query:
          $ref: '#/components/schemas/QueryConditionObj'
    user_rep:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/BCPaginationDataObj'
        users:
          type: array
          items:
            $ref: '#/components/schemas/BCUserObj_user'
    QueryConditionObj:
      type: object
      properties:
        or:
          type: array
          items:
            $ref: '#/components/schemas/termObj'
        and:
          type: array
          items:
            $ref: '#/components/schemas/termObj'
        sortBy:
          type: string
        sortType:
          type: string
        pageIndex:
          type: integer
        pageSize:
          type: integer
    termObj:
      type: object
      properties:
        op:
          type: string
        property:
          type: string
        value:
          type: object
    getUserDetail_rep:
      $ref: '#/components/schemas/BCUserObj_getUserDetail'
    createUser_req:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        title:
          type: string
        email:
          type: string
        phone:
          type: string
        role:
          type: object
          properties:
            id:
              type: string
        accounts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              checked:
                type: boolean
        status:
          type: string
        currentTemplate:
          type: string
        permissionTemplate:
          type: object
          properties:
            templateId:
              type: string
        permissionValues:
          type: string
          additionalProperties:
            type: boolean
          example:
            '100001': true
            '100002': true
            '100003': false
    createUser_rep:
      type: object
      properties:
        userId:
          type: string
    updateUser_req:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        title:
          type: string
        email:
          type: string
        phone:
          type: string
          pattern: '^\d{10}$'
          example: 1234567890
        role:
          type: object
          properties:
            id:
              type: string
        accounts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              checked:
                type: boolean
        status:
          type: string
        currentTemplate:
          type: string
        permissionTemplate:
          type: object
          properties:
            templateId:
              type: string
        permissionValues:
          type: string
          additionalProperties:
            type: boolean
          example:
            '100001': true
            '100002': true
            '100003': false
    organization_rep:
      $ref: '#/components/schemas/BCOrgObj'
    role_rep:
      $ref: '#/components/schemas/BCRoleObj'
    submitQuote_req:
      $ref: '#/components/schemas/EditQuoteInfoObj'
    EditQuoteInfoObj:
      allOf:  
      - $ref: '#/components/schemas/EditQuoteInfoBaseObj'
      - type: object
        properties:
          quoteItems:
            type: array
            items:
              $ref: '#/components/schemas/EditQuoteItemObj'
    EditQuoteInfoBaseObj:
      type: object
      properties:
        id:
          type: string
        quoteName:
          type: string
        phoneNumber:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        workType:
          type: string
          description: 'The Work Type, should be one of `N`(for New Construction) and `R`(for Remodel)'
        jobName:
          type: string
        jobNumber:
          type: string
        quoteNotes:
          type: string
        mailingAddress1:
          type: string
        mailingAddress2:
          type: string
        mailingAddress3:
          type: string
        mailingState:
          type: string
        mailingCity:
          type: string
        mailingZip:
          type: string
        expires:
          type: string
        validate:
          type: boolean
          description: default is true, if false, ignore request body validation except quote name.
    EditQuoteItemObj:
      type: object
      properties:
        itemId:
          type: string
        itemType:
          type: string
        quantity:
          type: integer
        uom:
          type: string
        displayName:
          type: string
        color:
          type: string
        dimensions:
          type: string
    EditDelegatedQuoteItemObj:
      allOf:
        - $ref: '#/components/schemas/EditQuoteItemObj'
        - type: object
          properties:
            netPrice:
              type: string
              description: net price for each item
    submitQuote_rep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        success:
          type: boolean
        result:
          type: object
          properties:
            quoteNumber:
              type: string
            quoteStatus:
              type: string
    submitDelegatedQuote_req:
      $ref: '#/components/schemas/EditDelegatedQuoteInfoObj'
    EditDelegatedQuoteInfoObj:
      allOf:      
      - type: object
        properties:
          accountId:
            type: string
            description: accountId on whose behalf quote is submitted
          branchId:
            type: string
            description: branchIdId to which the quote is submitted
          apiSiteId:
            type: string
            description: Api Site Id
      - $ref: '#/components/schemas/EditDelegatedQuoteInfoBaseObj'
    EditDelegatedQuoteInfoBaseObj:
      allOf: 
      - $ref: '#/components/schemas/EditQuoteInfoBaseObj'
      - type: object
        properties:
          quoteItems:
            type: array
            items:
              $ref: '#/components/schemas/EditDelegatedQuoteItemObj' 
            
    queryQuoteStatus_req:
      type: object
      properties:
        quoteId:
          type: string
    queryQuoteStatus_rep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        success:
          type: boolean
        result:
          type: object
          properties:
            expires:
              type: string
            quoteNotesEditable:
              type: boolean
            rejectEnable:
              type: boolean
            reviseEnable:
              type: boolean
            copyOrderEnable:
              type: boolean
            approveEnable:
              type: boolean
            finalizeOrderEnable:
              type: boolean
    approveQuote_req:
      type: object
      properties:
        quoteId:
          type: string
    reviseQuote_req:
      type: object
      properties:
        quoteId:
          type: string
        quoteNotes:
          type: string
    rejectQuote_req:
      type: object
      properties:
        quoteId:
          type: string
        reason:
          type: string
          description: >
            Available Reason.
             * Price is Too High
             * Lost Bid
             * Product Not Available
             * Product Will Arrive Late
             * Other
        additionalReason:
          type: string
          description: It's optional, when the user selects 'Other' as a reason, this field accepts an additional reason.
    BCUserObj_getUserDetail:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        title:
          type: string
        phone:
          type: string
        email:
          type: string
        role:
          $ref: '#/components/schemas/BCRoleObj'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/BCAccountObj'
        assignedAccounts:
          type: array
          items:
            $ref: '#/components/schemas/BCAccountObj'
        lastActivity:
          type: string
        lastModifiedDate:
          type: string
        status:
          type: string
        permissionTemplate:
          $ref: '#/components/schemas/BCPermissionTemplateObj'
        active:
          type: boolean
        currentTemplate:
          type: string
        org:
          $ref: '#/components/schemas/BCOrgObj'
        lastModifiedUserId:
          type: string
        userIsSelf:
          type: boolean
        internalUser:
          type: string
        userType:
          type: string
        rewardsEligible:
          type: boolean
    BCUserObj_user:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        lastActivity:
          type: string
        lastModifiedDate:
          type: string
        status:
          type: string
        rewardsEligible:
          type: boolean
    BCUserObj:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        title:
          type: string
        phone:
          type: string
        email:
          type: string
        role:
          $ref: '#/components/schemas/BCRoleObj'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/BCAccountObj'
        assignedAccounts:
          type: array
          items:
            $ref: '#/components/schemas/BCAccountObj'
        lastActivity:
          type: string
        lastModifiedDate:
          type: string
        status:
          type: string
        permissionValues:
          type: string
          additionalProperties:
            type: boolean
          example:
            aa: true
            bb: true
            cc: false
        permissionTemplate:
          $ref: '#/components/schemas/BCPermissionTemplateObj'
        active:
          type: boolean
        currentTemplate:
          type: string
        org:
          $ref: '#/components/schemas/BCOrgObj'
        lastModifiedUserId:
          type: string
        userIsSelf:
          type: boolean
        internalUser:
          type: string
        userType:
          type: string
        rewardsEligible:
          type: boolean
    BCRoleObj:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/BCPermissionGroupObj'
    BCAccountObj:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        checked:
          type: boolean
        isAccountClosed:
          type: boolean
    BCPermissionTemplateObj:
      type: object
      properties:
        name:
          type: string
        templateId:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/BCPermissionGroupObj'
        lastModifiedDate:
          type: string
        userEmail:
          type: string
        org:
          $ref: '#/components/schemas/BCOrgObj'
    BCPermissionTemplateObj_getPermissionTemplateDetail:
      type: object
      properties:
        name:
          type: string
        templateId:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/BCPermissionGroupObj'
        lastModifiedDate:
          type: string
        userEmail:
          type: string
        org:
          $ref: '#/components/schemas/BCOrgObj_getPermissionTemplateDetail'
    BCOrgObj_getPermissionTemplateDetail:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        masterAdmin:
          $ref: '#/components/schemas/BCUserObj_getPermissionTemplateDetail'
    BCUserObj_getPermissionTemplateDetail:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
    BCOrgObj:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        masterAdmin:
          $ref: '#/components/schemas/BCUserObj'
    BCPermissionGroupObj:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/BCPermissionObj'
        isGroup:
          type: boolean
    BCPermissionObj:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        groupId:
          type: string
        name:
          type: string
        displayName:
          type: string
        type:
          type: string
        isAuthorised:
          type: boolean
        isDisabled:
          type: boolean
        isFixed:
          type: boolean
    changePassword_req:
      type: object
      properties:
        oldPassword:
          type: string
        password:
          type: string
        confirmpassword:
          type: string
    changePassword_rep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
    setPassword_req:
      type: object
      properties:
        password:
          type: string
        confirmpassword:
          type: string
        passwordtoken:
          type: string
    setPassword_rep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
    forgotPassword_req:
      type: object
      properties:
        login:
          type: string
    forgotPassword_rep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
    deleteQuote_req:
      type: object
      properties:
        quoteId:
          type: string
    updateQuote_req:
      type: object
      properties:
        id:
          type: string
        quoteName:
          type: string
        phoneNumber:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        workType:
          type: string
        jobName:
          type: string
        jobNumber:
          type: string
        postalCode:
          type: string
        quoteNotes:
          type: string
        mailingAddress1:
          type: string
        mailingAddress2:
          type: string
        mailingAddress3:
          type: string
        mailingState:
          type: string
        mailingCity:
          type: string
        mailingZip:
          type: string
        expires:
          type: string
        action:
          type: string
        quoteItems:
          type: array
          items:
            $ref: '#/components/schemas/updateQuoteItemsObj'
        deleteItems:
          type: array
          items:
            type: string
        creationDate:
          type: string
          format: date
        lastModifiedDate:
          type: string
          format: date
    updateQuoteItemsObj:
      type: object
      properties:
        id:
          type: string
        itemNumber:
          type: string
        itemType:
          type: string
        displayName:
          type: string
        productId:
          type: string
        quantity:
          type: string
          format: long
        deleteStatus:
          type: boolean
        siteId:
          type: string
        uom:
          type: string
        matchColor:
          type: string
        dimensions:
          type: string
    createQuote_rep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
    createQuote_req:
      type: object
      properties:
        quoteName:
          type: string
        phoneNumber:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        statusDescription:
          type: string
        workType:
          type: string
          description: 'The Work Type, should be one of `N`(for New Construction) and `R`(for Remodel)'
        jobName:
          type: string
        jobNumber:
          type: string
        quoteNotes:
          type: string
        mailingAddress1:
          type: string
        mailingAddress2:
          type: string
        mailingAddress3:
          type: string
        mailingState:
          type: string
        mailingCity:
          type: string
        mailingZip:
          type: string
        expires:
          type: string
        validate:
          type: boolean
          description: default is true, if false, ignore request body validation except quote name.
        quoteItems:
          type: array
          items:
            $ref: '#/components/schemas/createQuoteItemObj'
    createQuoteItemObj:
      type: object
      properties:
        itemId:
          type: string
        itemType:
          type: string
        quantity:
          type: integer
        uom:
          type: string
        color:
          type: string
        dimensions:
          type: string
        displayName:
          type: string
    getQuoteDetail_rep:
      type: object
      properties:
        quote:
          $ref: '#/components/schemas/quoteDetailObj'
    quoteDetailItemObj:
      type: object
      properties:
        id:
          type: string
        itemNumber:
          type: string
        itemType:
          type: string
        displayName:
          type: string
        productId:
          type: string
        quantity:
          type: integer
          format: long
        unitOfMeasure:
          type: string
        deleteStatus:
          type: boolean
        imageURL:
          type: string
        imageOnErrorUrl:
          type: string
        PDPUrl:
          type: string
        productNumber:
          type: string
        unitPrice:
          type: integer
          format: long
        itemDescription:
          type: string
        itemTotalPrice:
          type: integer
          format: long
        currencySymbol:
          type: string
        stickerImageURL:
          type: string
        formatUnitPrice:
          type: string
        formatItemTotalPrice:
          type: string
        color:
          type: string
        dimensions:
          type: string
        itemAvailableQty:
          type: integer
          format: long
        itemUsedupQty:
          type: integer
          format: long
        itemRemainingQty:
          type: integer
          format: long
        itemOrderInfo:
          $ref: '#/components/schemas/quoteItemOrderInfoObj'
    quoteItemOrderInfoObj:
      type: object
      properties:
        orderNumber:
          type: string
        orderStatus:
          type: string
        shipQuantity:
          type: integer
          format: long
        backorderQuantity:
          type: integer
          format: long
    quoteDetailObj:
      type: object
      properties:
        id:
          type: string
        mincronId:
          type: string
        accountNumber:
          type: string
        createdUser:
          type: string
        createdUserName:
          type: string
        creationDate:
          type: string
        deleteStatus:
          type: boolean
        displayName:
          type: string
        quoteItems:
          type: array
          items:
            $ref: '#/components/schemas/quoteDetailItemObj'
        quoteNotes:
          type: string
        lastModifiedDate:
          type: string
        lastModifiedUser:
          type: string
        lastModifiedUserEmail:
          type: string
        siteID:
          type: string
        status:
          type: string
        displayStatus:
          type: string
        phoneNumber:
          type: string
        workType:
          type: string
        workTypeName:
          type: string
        jobNumber:
          type: string
        jobName:
          type: string
        address1:
          type: string
        address2:
          type: string
        postalCode:
          type: string
        state:
          type: string
        city:
          type: string
        mailingAddress1:
          type: string
        mailingAddress2:
          type: string
        mailingAddress3:
          type: string
        mailingState:
          type: string
        mailingCity:
          type: string
        mailingZip:
          type: string
        expires:
          type: string
        quoteTotalPrice:
          type: integer
          format: double
        profileId:
          type: string
        profileEmail:
          type: string
        documentName:
          type: string
        standardQuoteItems:
          type: array
          items:
            $ref: '#/components/schemas/quoteDetailItemObj'
        addtionalQuoteItems:
          type: array
          items:
            $ref: '#/components/schemas/quoteDetailItemObj'
        lastModifiedDate4Integration:
          type: string
        creationDate4Integration:
          type: string
        formatQuoteTotal:
          type: string
        subTotal:
          type: integer
          format: double
        otherCharges:
          type: integer
          format: double
        tax:
          type: integer
          format: double
        gst:
          type: integer
          format: double
        total:
          type: integer
          format: double
        formatSubTotal:
          type: string
        formatTax:
          type: string
        formatTotal:
          type: string
        atgOrderId:
          type: string
        mincronOrderId:
          type: string
        jobTaxExempt:
          type: boolean
    quoteObj:
      type: object
      properties:
        quoteId:
          type: string
        quoteName:
          type: string
        creationDate:
          type: string
          format: MM-dd-yyyy
        expirationDate:
          type: string
          format: MM-dd-yyyy
        status:
          type: string
        displayStatus:
          type: string
          description: The value is one of Available, Partially Available and Complete
        createdBy:
          type: string
    quoteListObj:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/BCPaginationDataObj'
        quoteList:
          type: array
          items:
            $ref: '#/components/schemas/quoteObj'
    quote_rep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
        draftQuote:
          $ref: '#/components/schemas/quoteListObj'
        inProcessQuote:
          $ref: '#/components/schemas/quoteListObj'
        receivedQuote:
          $ref: '#/components/schemas/quoteListObj'
    contactInfoObj:
      type: object
      properties:
        email:
          type: string
        lastName:
          type: string
        firstName:
          type: string
        phoneNumber:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
    currentUserPermissionObj:
      type: object
      properties:
        Place Order:
          type: object
          example:
            Yes: true
            No: false
            Yes, with Approval: false
        Price:
          type: object
          example:
            Yes: true
            No: false
    saveCurrentUserInfoReq:
      type: object
      properties:
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
        contactPhoneNumber:
          type: string
        officePhoneNumber:
          type: string
        mobilePhoneNumber:
          type: string
        subscribeOrder:
          type: boolean
        subscribeQuote:
          type: boolean
        subscribeAccount:
          type: boolean
    deliveryTrackingSettingsObj_getCurrentUserInfo:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
        myOrders:
          type: object
          additionalProperties:
            type: string
          example:
            requested: Text
            scheduled: Email
            delivered: Text&Email
        allOrders:
          type: object
          additionalProperties:
            type: string
          example:
            requested: Text
            scheduled: Email
            delivered: Text&Email
        dtAccount:
          type: object
          additionalProperties:
            type: string
          example:
            requested: Text
            scheduled: Email
            delivered: Text&Email
    accountObj:
      type: object
      properties:
        accountName:
          type: string
        accountEnabled:
          type: boolean
        accountLegacyId:
          type: string
        accountViewPrices:
          type: boolean
        addCustomSteel:
          type: boolean
        cashAccount:
          type: boolean
        isAccountClosed:
          type: boolean
        canAccessEVSmartOrder:
          type: boolean
        customerType:
          $ref: '#/components/schemas/customerType'
        hasMincronRebate:
          type: boolean
        loyaltyEnrolled:
          type: boolean
        nationalAccount:
          type: boolean
        loyaltyFlag:
          type: boolean
        gafQuickMeasureFlag:
          type: boolean
    accountObjWithRewardsEligible:
      type: object
      properties:
        accountName:
          type: string
        accountEnabled:
          type: boolean
        accountLegacyId:
          type: string
        accountViewPrices:
          type: boolean
        addCustomSteel:
          type: boolean
        rewardsEligible:
          type: boolean
        cashAccount:
          type: boolean
        isAccountClosed:
          type: boolean
        canAccessEVSmartOrder:
          type: boolean
        customerType:
          $ref: '#/components/schemas/customerType'
        hasMincronRebate:
          type: boolean
        loyaltyEnrolled:
          type: boolean
        nationalAccount:
          type: boolean
        loyaltyFlag:
          type: boolean
    customerType:
      type: object
      properties:
        name:
          type: string
        realm:
          type: string
        isDefault:
          type: boolean
    branchObj:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/branchAddressObj'
        branchNumber:
          type: string
        branchName:
          type: string
        branchPhone:
          type: string
        branchRegionId:
          type: string
        company:
          type: string
        companyName:
          type: string
        division:
          type: string
        divisionName:
          type: string
        market:
          type: string
        branchDTEnabled:
          type: boolean
        active:
          type: boolean
        activeToSendEmail:
          type: boolean
        corporateBranch:
          type: boolean
        mincronBranchStatus:
          type: string
        canAccessEVSmartOrderOnBranch:
          type: boolean
        guidedOrder:
          type: boolean
    getUserInfoRep:
      type: object
      properties:
        messages:
          type: string
        profileId:
          type: string
        permission:
          type: object
          additionalProperties:
            type: object
          example:
            price: true
            order:
              submit: true
              submitForApproval: true
              approve: true
              checkoutShippingAddress: true
              checkoutOrderReview: true
              checkoutOrderConfirmation: true
            orderhistory:
              queryList: true
              queryDetail: true
              withPrice: true
              withoutPrice: false
            quote:
              edit: true
              upload: true
              submit: true
              update: true
              submitForm: true
              queryList: true
              queryListOpen: true
              queryListInProgress: true
              queryListProcessed: true
              queryDetailOpen: true
              queryDetailInProgress: true
              queryDetailProcessed: true
            rebate:
              submit: true
              landing: true
              form: true
              redeemedSummary: true
              redeemedDetail: true
            upcomingDelivery: true
            nonAppDeliveryNotification: true
            mobileDeliveryNotification: true
        account:
          type: object
          properties:
            accountLegacyId:
              type: string
            accountViewPrices:
              type: boolean
            isAccountClosed:
              type: boolean
            gafQuickMeasureFlag:
              type: boolean
            branch:
              type: object
              properties:
                branchNumber:
                  type: string
                branchRegionId:
                  type: string
                market:
                  type: string
    getCurrentUserInfoRep:
      type: object
      properties:
        messages:
          type: string
        accountBranch:
          $ref: '#/components/schemas/branchObj'
        lastName:
          type: string
        cartLineItems:
          type: integer
        profileId:
          type: string
        firstName:
          type: string
        email:
          type: string
        login:
          type: string
        internalUser:
          type: boolean
        userType:
          type: string
        roleType:
          type: string
        rewardsEligible:
          type: boolean
        lastActivity:
          type: string
        lastPasswordUpdate:
          type: string
        registrationDate:
          type: string
        firstLoggedInDate:
          type: string
        defaultOrganization:
          type: string
        defaultOrganizationId:
          type: string
        lastSelectedAccount:
          $ref: '#/components/schemas/accountObj'
        deliveryTrackingSettings:
          $ref: '#/components/schemas/deliveryTrackingSettingsObj_getCurrentUserInfo'
        title:
          type: string
        contactPhoneNumber:
          type: string
        officePhoneNumber:
          type: string
        mobilePhoneNumber:
          type: string
        subscribeEmailType:
          type: object
          additionalProperties:
            type: boolean
          example:
            subscribeOrder: true
            subscribeAccount: true
            subscribeQuote: true
        contactAddress:
          $ref: '#/components/schemas/contactInfoObj'
        declineNotificationEmail:
          type: boolean
        userAccounts:
          type: array
          items:
            type: string
        hasPrivateEVAccount:
          type: boolean
        profileEagleViewPurchaseStatus:
          type: boolean
        deviceTokens:
          type: array
          items:
            type: string
        appLogin:
          type: boolean
        appLastPurchaseDate:
          type: string
        proPlusLastPurchaseDate:
          type: string
        lastProPlusMobileAppLogin:
          type: string
        notificationDisableStatus:
          type: boolean
        notificationChangeTime:
          type: string
        currentUserPermission:
          $ref: '#/components/schemas/currentUserPermissionObj'
        hasEnterpriseAccount:
          type: boolean
        isEVrefreshTokenValid:
          type: boolean
        loyaltyFlag:
          type: boolean
    addressBookInfoObj_R:
      type: object
      properties:
        nickName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        stateValue:
          type: string
        postalCode:
          type: string
        country:
          type: string
        countryValue:
          type: string
        phoneNumber:
          type: string
    addressBookInfoObj_CU:
      type: object
      properties:
        nickName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        stateValue:
          type: string
        postalCode:
          type: string
        countryValue:
          type: string
        phoneNumber:
          type: string
    getAddressBookRep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
        pagination:
          $ref: '#/components/schemas/BCPaginationDataObj'
        addressBooks:
          type: array
          items:
            type: object
            properties:
              addressBookId:
                type: string
              accountLegacyId:
                type: string
              accountName:
                type: string
              addressBookInfo:
                $ref: '#/components/schemas/addressBookInfoObj_R'
    createAddressBookReq:
      $ref: '#/components/schemas/addressBookInfoObj_CU'
    createAddressBookRep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
        addressBookId:
          type: string
    updateAddressBookReq:
      type: object
      properties:
        addressBookId:
          type: string
        addressBookInfo:
          $ref: '#/components/schemas/addressBookInfoObj_CU'
    updateAddressBookRep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
    deleteAddressBookReq:
      type: object
      properties:
        addressBookId:
          type: string
    deleteAddressBookRep:
      type: object
      properties:
        messages:
          $ref: '#/components/schemas/messagesObj'
        messageCode:
          type: integer
        success:
          type: boolean
    statusChangeNotification:
      type: object
      properties:
        requested:
          type: string
        scheduled:
          type: string
        delivered:
          type: string
    accountStatusChangeNotification:
      type: object
      properties:
        requested:
          type: string
        scheduled:
          type: string
        delivered:
          type: string
        accountId:
          type: string
    statusChangeNotification_req:
      type: object
      properties:
        dtEmailAddress:
          type: string
        dtPhoneNumber:
          type: string
        dtStatusChangeNotification:
          $ref: '#/components/schemas/statusChangeNotification'
        dtAdminStatusChangeNotification:
          $ref: '#/components/schemas/statusChangeNotification'
        dtAccountStatusChangeNotification:
          type: array
          items:
            $ref: '#/components/schemas/accountStatusChangeNotification'
    statusChangeNotification_rep:
      type: object
      properties:
        messageCode:
          type: string
        message:
          type: string
    saveDeliverySetting_rep:
      type: object
      properties:
        result:
          type: string
        message:
          type: string
        success:
          type: boolean
    getDeliverySetting_rep:
      type: object
      properties:
        result:
          type: object
          properties:
            dtNotificationSettings:
              type: object
              properties:
                received:
                  type: boolean
                scheduled:
                  type: boolean
                ordered:
                  type: boolean
                enRoute:
                  type: boolean
                arrived:
                  type: boolean
            quoteNotificationSettings:
              type: object
              properties:
                readyForReview:
                  type: boolean
            disableStatus:
              type: boolean
            changeTime:
              type: string
        success:
          type: boolean
        message:
          type: string
    radioButtonObj:
      type: object
      properties:
        displayName:
          type: string
        value:
          type: string
        selected:
          type: boolean
    deliveryStatusObj:
      type: object
      properties:
        displayName:
          type: string
        label:
          type: string
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/radioButtonObj'
    deliveryStatusObjWithAccount:
      type: object
      properties:
        accountId:
          type: string
        statusLabels:
          type: array
          items:
            $ref: '#/components/schemas/deliveryStatusObj'
    getStatusChangeNotification_rep:
      type: object
      properties:
        messageCode:
          type: string
        message:
          type: string
        emailAddress:
          type: string
        dtPhoneNumber:
          type: string
        dtStatusChangeNotification:
          type: array
          items:
            $ref: '#/components/schemas/deliveryStatusObj'
        dtAdminStatusChangeNotification:
          type: array
          items:
            $ref: '#/components/schemas/deliveryStatusObj'
        dtAccountStatusChangeNotification:
          type: array
          items:
            $ref: '#/components/schemas/deliveryStatusObjWithAccount'
        dtOrderStatusChangeNotification:
          type: object
          properties:
            notifications:
              type: array
              items:
                $ref: '#/components/schemas/radioButtonObj'
    UpcomingDeliveriesRep:
      type: object
      properties:
        upcomingDeliveries:
          type: array
          items:
            $ref: '#/components/schemas/UpcomingDeliveryObj'
    UpcomingDeliveryObj:
      type: object
      properties:
        jobNumber:
          type: string
        jobName:
          type: string
        branchNo:
          type: string
        customerNo:
          type: string
        street:
          type: string
        mincronOrderNo:
          type: string
        estimatedArrival:
          type: string
        estimatedArrivalDate:
          type: string
        plannedArrival:
          type: string
        plannedArrivalDate:
          type: string
        actualArrival:
          type: string
        salesPeople:
          type: string
        dtStatus:
          type: string
        dtDate:
          type: string
        po:
          type: string
        orderDetailLink:
          type: string
    addItemsToOrderReq:
      type: object
      properties:
        addItemCount:
          type: integer
          description: The total amount of item to add to cart
        accountId:
          type: string
          description: The account id
        specialInstructions:
          type: string
          description: The order special instructions
        items:
          type: array
          items:
            $ref: '#/components/schemas/addTocartItem'
        jobNumber:
          type: string
          description: The job
        templateId:
          type: string
          description: Template Id
        shipping:
          $ref: '#/components/schemas/shippingObj'
    shippingObj:
      type: object
      properties:
        shippingMethod:
          type: string
        shippingBranch:
          type: string
        address:
          type: object
          properties:
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            postalCode:
              type: string
            state:
              type: string
    addTocartItem:
      type: object
      properties:
        catalogRefId:
          type: string
        productId:
          type: string
        quantity:
          type: integer
        uom:
          type: string
        matchColor:
          type: string
          example: Dark Blue(012)
        matchMFG:
          type: string
          example: Light Yellow
        productNumber:
          type: string
        itemType:
          type: string
          example: Standard item or Custom Steel
        description:
          type: string
    addItemsToOrderRep:
      type: object
      properties:
        allItemsUnavailable:
          type: boolean
        unavailableItems:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              failedReason:
                type: string
        addedToCartItems:
          type: array
          items:
            type: string
        vendorColorNotMatchedItems:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              matchColor:
                type: string
              matchMFG:
                type: string
    orderdetailRep:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/orderHistoryObj'
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/orderHistoryLineItemObj'
        DTStatus:
          $ref: '#/components/schemas/DTStatusObj'
        DTPhotos:
          type: array
          items:
            $ref: '#/components/schemas/DTPhotosObj'
        branchDTEnabled:
          type: boolean
        DTEnabled:
          type: boolean
        EVReportId:
          type: integer
        EVEligibleForUpgrade:
          type: boolean
        hasDTError:
          type: boolean
        warranties:
          type: array
          items:
            type: object
            properties:
              itemNumber:
                type: string
              skuPDPDisplayTitle:
                type: string
              resource:
                type: object
                additionalProperties:
                  type: string
                example:
                  Warranty: 'http://www.xxx.com/download.php,'
        documents:
          type: array
          items:
            type: object
            properties:
              itemNumber:
                type: string
              skuPDPDisplayTitle:
                type: string
              categoryName:
                type: string
              resource:
                type: object
                additionalProperties:
                  type: string
                example:
                  General Instructrions: 'http://www.xxx.com/download.php,'
                  MSDS: 'http://www.xxx.com/download.php,'
                  Brochure: 'http://www.xxx.com/download.php,'
    DTOrderdetailRep:
      type: object
      properties:
        DTStatus:
          $ref: '#/components/schemas/DTStatusObj'
        DTPhotos:
          type: array
          items:
            $ref: '#/components/schemas/DTPhotosObj'
        branchDTEnabled:
          type: boolean
        DTEnabled:
          type: boolean
        hasDTError:
          type: boolean
    DTStatusObj:
      type: object
      properties:
        displayName:
          type: string
        contKey:
          type: string
        contValue:
          type: string
        statusEndDate:
          type: string
          example: 05/05/2018
        infos:
          type: array
          items:
            type: object
            properties:
              defaultValue:
                type: string
              imageUrl:
                type: string
              active:
                type: boolean
              key:
                type: string
              value:
                type: string
    DTPhotosObj:
      type: object
      properties:
        thumbnailUrl:
          type: string
        largeUrl:
          type: string
        timestamp:
          type: string
          example: '2018-05-02T13:49:39.85'
    orderHistoryLineItemObj:
      type: object
      properties:
        description:
          type: string
        productOrItemNumber:
          type: string
        subTotal:
          type: number
          format: double
        subTotalNull:
          type: boolean
        itemOrProductDescription:
          type: string
        unitPrice:
          type: number
          format: double
        unitPriceNull:
          type: boolean
        quantity:
          type: integer
        itemNumber:
          type: string
        unitOfMeasure:
          type: string
        unitOfMeasureDisplay:
          type: string
        productImageUrl:
          type: string
        productOnErrorImageUrl:
          type: string
        productId:
          type: string
        pdpUrl:
          type: string
        skuPDPDisplayTitle:
          type: string
        displayQuantityMsg:
          type: boolean
        quantityMsg:
          type: string
        productOrItemDescription:
          type: string
        extendedDescription:
          type: string
        lineComments:
          type: string
        isAddedToFavorites:
          type: boolean
    BCOtherPaginationObj:
      type: object
      properties:
        available:
          type: boolean
        label:
          type: string
        page:
          type: integer
    BCPaginationObj:
      type: object
      properties:
        enable:
          type: boolean
        page:
          type: integer
        currentPage:
          type: boolean
        type:
          type: string
    BCPaginationDataObj:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/BCOtherPaginationObj'
        previous:
          $ref: '#/components/schemas/BCOtherPaginationObj'
        pageSize:
          type: integer
        currentPage:
          type: integer
        totalCount:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/BCPaginationObj'
    getCurrentUserPermissionRep:
      type: object
      properties:
        original:
          type: object
          additionalProperties:
            type: object
          example:
            Price:
              'Yes': true
              'No': false
            Approve Orders:
              'Yes': true
              'No': false
            Place Order:
              'Yes': true
              'No': false
              Yes, with Approval: false
            Order History:
              Yes, Without Pricing: false
              Yes, With Pricing: true
              'No': false
            Quotes:
              View: true
              Manage: true
              'No': false
            Rebates:
              View: false
              Manage: true
              'No': false
            Upcoming Delivery:
              'Yes': true
              'No': false
            Non-App Delivery Notification:
              'Yes': true
              'No': false
            Mobile Delivery Notification:
              'Yes': true
              'No': false
        computed:
          type: object
          additionalProperties:
            type: object
          example:
            price: true
            order:
              submit: true
              submitForApproval: true
              approve: true
              checkoutShippingAddress: true
              checkoutOrderReview: true
              checkoutOrderConfirmation: true
            orderhistory:
              queryList: true
              queryDetail: true
              withPrice: true
              withoutPrice: false
            quote:
              edit: true
              upload: true
              submit: true
              update: true
              submitForm: true
              queryList: true
              queryListOpen: true
              queryListInProgress: true
              queryListProcessed: true
              queryDetailOpen: true
              queryDetailInProgress: true
              queryDetailProcessed: true
            rebate:
              submit: true
              landing: true
              form: true
              redeemedSummary: true
              redeemedDetail: true
            upcomingDelivery: true
            nonAppDeliveryNotification: true
            mobileDeliveryNotification: true
    orderSummaryRep:
      type: object
      properties:
        total:
          type: integer
          format: double
        itemsTotal:
          type: integer
          format: double
        tax:
          type: integer
          format: double
        otherCharges:
          type: integer
          format: double
        displayTotalMsg:
          type: boolean
        totalMsg:
          type: string
        jobTaxExempt:
          type: boolean
    messagesObj:
      type: array
      items:
        type: object
        properties:
          type:
            type: string
          value:
            type: string
          code:
            type: string
    jobObj:
      type: object
      properties:
        jobName:
          type: string
        jobNumber:
          type: string
    orderHistoryObj:
      type: object
      properties:
        total:
          type: number
          format: double
        totalNull:
          type: boolean
        displayTotalMsg:
          type: boolean
        totalMsg:
          type: string
        sellingBranch:
          type: string
        accountId:
          type: string
        inStore:
          type: string
        source:
          type: string
        accountToken:
          type: string
        job:
          $ref: '#/components/schemas/jobObj'
        purchaseOrderNo:
          type: string
        creditHold:
          type: string
        shipping:
          type: object
          properties:
            shippingBranch:
              type: integer
            shippingBranchDisplayName:
              type: string
            address:
              $ref: '#/components/schemas/branchAddressObj'
            shippingMethod:
              type: string
        orderPlacedDate:
          type: string
        tax:
          type: number
          format: double
        taxNull:
          type: boolean
        jobTaxExempt:
          type: boolean
        orderStatusCode:
          type: string
          description: 'Order status: C,K -> Processing, I -> Invoiced, O -> Ready Delivery/Pick up, N -> Pending, P,R -> Delivered'
          enum:
            - I
            - R
            - P
            - C
            - O
            - K
            - 'N'
        onHold:
          type: boolean
        orderStatusValue:
          type: string
        subTotal:
          type: number
          format: double
        subTotalNull:
          type: boolean
        orderId:
          type: string
        specialInstruction:
          type: string
        showDeliveryNotification:
          type: boolean
        showDropDown:
          type: boolean
        showShipTips:
          type: boolean
        shipTipsMsg:
          type: string
        orderRelatedDocuments:
          type: array
          items:
            type: string
        creditCardTokenExists:
          type: boolean
        UUID:
          type: string
        invoicedDate:
          type: string
        paymentStatus:
          type: string
        orderNotes:
          type: string
        digital:
          type: string
    orderhistoryRep:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/orderHistoryObj'
        pagination:
          $ref: '#/components/schemas/BCPaginationDataObj'
    branchAddressObj:
      type: object
      properties:
        postalCode:
          type: string
        state:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
    saveOrderRep:
      type: object
      properties:
        successUrl:
          type: string
        savedOrderId:
          type: string
    proceedToCheckoutRep:
      type: object
      properties:
        nextUrl:
          type: string
    updateCartReq:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              commerceItemId:
                type: string
              skuId:
                type: string
              uom:
                type: string
              quantity:
                type: integer
    cartItemsRep:
      type: array
      items:
        type: object
        properties:
          commerceItemId:
            type: string
          url:
            type: string
          productImageUrl:
            type: string
          productOnErrorImageUrl:
            type: string
          itemOrProductDescription:
            type: string
          catalogRefId:
            type: string
          productId:
            type: string
          quantity:
            type: integer
          uom:
            type: string
          unitPrice:
            type: integer
            format: double
          totalPrice:
            type: integer
            format: double
    cartItemsFullRep:
      type: object
      properties:
        atgOrderId:
          type: string
        lastSelectedJob:
          type: object
          properties:
            jobName:
              type: string
[...]
