openapi: 3.2.0
info:
  title: Beacon Rest Services (Use for Internal) Eagle View Reports…
  version: 24PI-4-Sprint-3
  description: 'This version of APIs do not require the user to login, to be able to access

    services.'
servers:
- url: https://beaconproplus.com/v2/rest/com/becn
  description: 'Production. Added by API Evangelist; the harvested document carried no servers[]. Source: internal service published on the same public Swagger index; base taken from the shared v2 prefix'
tags:
- name: Eagle View Reports
paths:
  /eagleview/updateReportsByIds:
    post:
      security:
      - internalAuth: []
      tags:
      - Eagle View Reports
      summary: Get reports from eagle view, reportIds is required, the report Id list…
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eagleViewReportUpdateRequest'
      responses:
        '200':
          description: 'successful operation

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eagleViewReportCommonResponse'
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized, the authorization token is invalid
        '405':
          description: Method not allowed, the request method is not valid for this API or this API is not available.
        '500':
          description: Internal exception
      operationId: postEagleviewUpdateReportsByIds
      x-operation-id-source: derived
  /eagleview/updateReportsByDate:
    post:
      security:
      - internalAuth: []
      tags:
      - Eagle View Reports
      summary: Get reports from eagle view, fromDate/toDate is required
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eagleViewReportUpdateByDateRequest'
      responses:
        '200':
          description: 'successful operation

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eagleViewReportCommonResponse'
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized, the authorization token is invalid
        '405':
          description: Method not allowed, the request method is not valid for this API or this API is not available.
        '500':
          description: Internal exception
      operationId: postEagleviewUpdateReportsByDate
      x-operation-id-source: derived
  /eagleview/OrderStatusUpdate:
    get:
      security:
      - internalAuth: []
      tags:
      - Eagle View Reports
      summary: Update order status
      parameters:
      - in: query
        name: StatusId
        description: Status Id
        required: true
        schema:
          type: number
      - in: query
        name: subStatusId
        description: Sub Status Id
        required: true
        schema:
          type: number
      - in: query
        name: RefId
        description: Unique Id that was passed as a reference by the client/partner when the order was placed with EagleView
        required: true
        schema:
          type: string
      - in: query
        name: reportId
        description: EagleView's unique Id for the order.
        required: true
        schema:
          type: number
      responses:
        '200':
          description: 'successful operation

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eagleViewReportCommonResponse'
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized, the authorization token is invalid
        '405':
          description: Method not allowed, the request method is not valid for this API or this API is not available.
        '500':
          description: Internal exception
      operationId: getEagleviewOrderStatusUpdate
      x-operation-id-source: derived
components:
  schemas:
    eagleViewReportUpdateRequest:
      type: object
      properties:
        profile:
          type: string
        reportIds:
          type: string
          description: for endpoint 'updateReportsByIds', it is required.
    eagleViewReportUpdateByDateRequest:
      type: object
      properties:
        profile:
          type: string
        fromDate:
          type: string
          format: yyyy-MM-dd
        toDate:
          type: string
          format: yyyy-MM-dd
    eagleViewReportCommonResponse:
      type: object
      properties:
        result:
          type: string
        success:
          type: boolean
        messages:
          type: array
          items:
            type: string
  securitySchemes:
    internalAuth:
      type: http
      scheme: bearer
      bearerFormat: token
